name: Create ZIP & Release
run-name: Zipping files & publish release...
on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@master
      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.5
        with:
          type: 'zip'
          filename: 'simpleBlog.zip'
          exclusions: '/*.github/* /*.husky/* /*.venv*/ /*run*/ /*frontend/.angular*/ /*frontend/dist*/ /*frontend/node_modules*/ /*.git*/ /*.idea*/ /*.gitignore*/ /*schema.json*/ /*schema.json.graphql*/'

      - name: Upload Release
        uses: ncipollo/release-action@v1.12.0
        with:
          name: "simpleBlog-v${{ github.event.pull_request.number }}/${{ github.event.pull_request.title }}"
          body: " ${{ github.event.pull_request.message || 'New release!'}} "
          artifacts: "simpleBlog.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: "v${{ github.event.pull_request.number }}-${{ github.head_ref || github.ref_name }}"